# 忽略整个 .obsidian 目录中的内容
.obsidian/*

# 但保留以下核心配置和插件相关文件
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/hotkeys.json
!.obsidian/graph.json
!plugins/
!icons/
!snippets/
!themes/

# 忽略所有缓存和临时文件
.obsidian/cache/
.obsidian/*.db
.obsidian/workspace*
.obsidian/.trash/
.obsidian/backups/

# 操作系统元文件（可选）
.obsidian/.DS_Store
.obsidian/Thumbs.db


# other
temp/
tmp/*
资料/*
13 读书笔记/微信读书/*

# Ignore Smart Environment folder
.smart-env
.smtcmp_vector_db.tar.gz
.smtcmp_chat_histories/*